#container {
  font-size: .28rem;
}

.wx-navbar {
  height: 0.9rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  .am-navbar-title {
    font-size: .32rem;
    font-weight: bold;
  }
  .am-icon-md {
    width: .44rem;
    height: .44rem;
  }
}

.text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
