#container {
  font-size: .32rem;
}

.wx-navbar {
  height: 0.9rem;
  .am-navbar-title {
    font-size: .32rem;
    font-weight: bold;
  }
  .am-icon-md {
    width: .44rem;
    height: .44rem;
  }
}
