 .wx-goods-class {
   display: flex;
   width: 100%;
   .wx-goods-class-menu {
     width: 1.6rem;
     .am-radio-inner {
       display: none;
     }
     .am-list-content {
       text-align: center;
     }
     .am-list-item {
       height: 1rem;
       padding-left: 0;
       .am-list-line {
         padding-right: 0;
       }
     }
   }
   .wx-goods-class-list {
     flex: 1;
     height: 100%;
     overflow-x: hidden;
     overflow-y: auto;

     .am-grid .am-flexbox .am-flexbox-item .am-grid-item-contain .am-grid-icon {
       height: 1rem;
       width: 1rem;
     }
   }
   .am-menu .am-flexbox .am-flexbox-item .am-list .am-list-item .am-list-line .am-list-content {
     font-size: .28rem;
   }

   .am-grid .am-flexbox .am-flexbox-item .am-grid-item-contain.column-num-3 .am-grid-text {
     font-size: .28rem;
   }
 }
