 .text-overflow-hidden {
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: keep-all;
   white-space: nowrap;
 }
 
 body {
   user-select: none;
   font-size: 0.28rem;
   background-color: #f5f5f9;
 }
 
 .am-list-header * {
   font-size: .28rem;
 }
 
 .am-tab-bar-bar {
   height: 1rem;
 }
