.am-list-item .am-list-line .am-list-content {
  font-size: .28rem;
}

.wx-index {
  position: relative;
  padding-top: 0.88rem;
  .index-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.88rem;
    width: 100%;
    z-index: 1000000000;
  }
}
