.wx-goods-detail-spec-group {
  .am-tag-active {
    background-color: #fff;
    color: #108ee9;
    border: 1PX solid #108ee9;
  }

  .am-tag {
    border-radius: 6px;
    display: inline-block;
    position: relative;
    font-size: 28px;
    padding: 0 30px;
    text-align: center;
    height: 48px;
    line-height: 48px;
  }

  .am-tag-normal {
    background-color: #fff;
    color: #888;
    border: 1PX solid #ddd;
  }
}
